h1 {
    text-align:center;
    font-family: 'Jost';
    font-size: 35px;
    line-height: 40px;
    color: blue;
}

h2 {
    text-align:center;
    font-family: 'Jost';
    font-size: 35px;
    line-height: 40px;
    color: red;
}